@import '../styles/colors.scss';

.page-not-found {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  .page-not-found-buttons {
    margin-top: 25px;
  }
  .page-not-found-button {
    @extend %button;
    background-color: $color-button-submit;
    color: $color-white;
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
    min-width: 190px;
    min-height: 45px;
    margin: 15px 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
  .page-not-found-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}