@import '../styles/colors.scss';

.home-page-container {
  background-image: url('../images/routes.png');
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    .home-page-title {
      font-size: 55px;
      font-weight: 700;
      margin: 15px;
    }
    .home-page-description {
      width: 500px;
      font-size: 35px;
      font-weight: 700;
      margin: 15px;
    }
  .home-page-btn {
    width: 160px;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: color $animation-time, background-color $animation-time, border-color $animation-time;
    background-color: $color-button-submit;
    color: $color-white;
    font-size: 20px;
    &:hover,
    &:focus {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
  }
}