.home-page-container {
  background-image: url("../images/routes.png");
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .home-page-container .home-page-title {
    font-size: 55px;
    font-weight: 700;
    margin: 15px; }
  .home-page-container .home-page-description {
    width: 500px;
    font-size: 35px;
    font-weight: 700;
    margin: 15px; }
  .home-page-container .home-page-btn {
    width: 160px;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    background-color: #005777;
    color: #ffffff;
    font-size: 20px; }
    .home-page-container .home-page-btn:hover, .home-page-container .home-page-btn:focus {
      background-color: #006b91; }
    .home-page-container .home-page-btn:active {
      background-color: #007dab; }
