$color-white:                     #ffffff;
$animation-time: 0.3s;
$color-button-submit:             #005777;
$color-button-hover:              #006b91;
$color-button-click:              #007dab;
$main-modal-color:                #323232;
$color-sidebar-background-gray:   #58595b;

%button {
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: color $animation-time, background-color $animation-time, border-color $animation-time;
}