@import 'styles/colors.scss';

.hide-scroll {
  overflow: hidden;
}

.create-route-modal-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-button-submit;
  opacity: 0.1;
  z-index: 1000;
}

.base-modal-pointer-none {
  pointer-events: none;
}

.create-route-modal-main {
  background-color: $color-white;
  font-size: 18px;
  position: fixed;
  z-index: 1000;
  display: flex;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

  .create-route-modal-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .base-modal-icon {
    margin-top: 32px;
  }

  .create-route-modal-content {
    height: 100%;
    width: 100%;
    padding: 20px 15px 10px 15px;
    color: $main-modal-color;
    letter-spacing: 0.3px;

    .create-route-modal-title {
      font-size: 25px;
      padding: 20px;
    }
  }

  .base-modal-header {
    height: 70px;
    background-color: $color-sidebar-background-gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .base-modal-header-text {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: $color-white;

    .base-modal-header-close-image {
      position: absolute;
      right: 20px;
      font-size: x-small;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      img {
        cursor: pointer;
      }
    }
  }

  .create-route-modal-bottom {
    margin: 10px 0 20px;
  }

  .create-route-modal-bottom-cancel {
    @extend %button;
    width: 160px;
    height: 50px;
    background-color: $color-white;
    color: $color-button-submit;
    border: 1px solid $color-button-submit;
    margin-right: 20px;
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: $color-button-hover;
      color: $color-white !important;
      border: 1px solid $color-button-hover;
      .fl-buttonTextCenter {
        color: $color-white;
      }
    }
    &:active {
      background-color: $color-button-click;
    }
  }

  .create-route-modal-bottom-submit {
    @extend %button;
    width: 160px;
    height: 50px;
    background-color: $color-button-submit;
    color: $color-white;
    margin-left: 20px;
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
  }

  .close-create-route-modal-main {
    display: none !important;
  }

  .form-control{
    width: 400px;
    height: 50px;
    font-size: 20px;
  }
}


.custom-position {
  position: absolute;
}