.create-route-modal-main .create-route-modal-bottom-cancel, .create-route-modal-main .create-route-modal-bottom-submit {
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }

.hide-scroll {
  overflow: hidden; }

.create-route-modal-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #005777;
  opacity: 0.1;
  z-index: 1000; }

.base-modal-pointer-none {
  pointer-events: none; }

.create-route-modal-main {
  background-color: #ffffff;
  font-size: 18px;
  position: fixed;
  z-index: 1000;
  display: flex;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); }
  .create-route-modal-main .create-route-modal-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
  .create-route-modal-main .base-modal-icon {
    margin-top: 32px; }
  .create-route-modal-main .create-route-modal-content {
    height: 100%;
    width: 100%;
    padding: 20px 15px 10px 15px;
    color: #323232;
    letter-spacing: 0.3px; }
    .create-route-modal-main .create-route-modal-content .create-route-modal-title {
      font-size: 25px;
      padding: 20px; }
  .create-route-modal-main .base-modal-header {
    height: 70px;
    background-color: #58595b;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .create-route-modal-main .base-modal-header-text {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
    .create-route-modal-main .base-modal-header-text .base-modal-header-close-image {
      position: absolute;
      right: 20px;
      font-size: x-small;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }
      .create-route-modal-main .base-modal-header-text .base-modal-header-close-image img {
        cursor: pointer; }
  .create-route-modal-main .create-route-modal-bottom {
    margin: 10px 0 20px; }
  .create-route-modal-main .create-route-modal-bottom-cancel {
    width: 160px;
    height: 50px;
    background-color: #ffffff;
    color: #005777;
    border: 1px solid #005777;
    margin-right: 20px;
    font-size: 18px; }
    .create-route-modal-main .create-route-modal-bottom-cancel:hover, .create-route-modal-main .create-route-modal-bottom-cancel:focus {
      background-color: #006b91;
      color: #ffffff !important;
      border: 1px solid #006b91; }
      .create-route-modal-main .create-route-modal-bottom-cancel:hover .fl-buttonTextCenter, .create-route-modal-main .create-route-modal-bottom-cancel:focus .fl-buttonTextCenter {
        color: #ffffff; }
    .create-route-modal-main .create-route-modal-bottom-cancel:active {
      background-color: #007dab; }
  .create-route-modal-main .create-route-modal-bottom-submit {
    width: 160px;
    height: 50px;
    background-color: #005777;
    color: #ffffff;
    margin-left: 20px;
    font-size: 18px; }
    .create-route-modal-main .create-route-modal-bottom-submit:hover, .create-route-modal-main .create-route-modal-bottom-submit:focus {
      background-color: #006b91; }
    .create-route-modal-main .create-route-modal-bottom-submit:active {
      background-color: #007dab; }
  .create-route-modal-main .close-create-route-modal-main {
    display: none !important; }
  .create-route-modal-main .form-control {
    width: 400px;
    height: 50px;
    font-size: 20px; }

.custom-position {
  position: absolute; }
