.map-wrapper {
  width: 600px;
  height: 400px; }
  .map-wrapper .map-container-element {
    height: 100%;
    width: 100%;
    border-radius: 10px; }
    .map-wrapper .map-container-element .map {
      height: 100%;
      width: 100%;
      border-radius: 10px; }
