@import '../styles/colors.scss';

.route-page-container {
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .route-page-title {
    font-size: 55px;
    font-weight: 700;
    margin: 15px;
  }
  .route-page-map {
    width: 80%;
    height: 75%;
  }
  .route-page-btn {
    width: 160px;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    transition: color $animation-time, background-color $animation-time, border-color $animation-time;
    background-color: $color-button-submit;
    color: $color-white;
    font-size: 20px;
    &:hover,
    &:focus {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
  }
}